<html>
    <title>Dashboard</title>
    <center>
        <b><FONT SIZE=5 color =#1c56b2>Welcome again, <?php echo Session::get('username')?>. </FONT></b><br><br>
        <a href="<?php echo URL; ?>weather"><img src="public/images/weather.jpg" alt="weather" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>calculator"><img src="public/images/calculator.png" alt="calculator" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>todo"><img src="public/images/todolist.png" alt="todolist" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>memo"><img src="public/images/memo.png" alt="memo" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>gallery"><img src="public/images/gallery.png" alt="gallery" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>worldclock"><img src="public/images/clock.png" alt="clock" style="width:180px;height:270px;border:0"></a>
        <a href="<?php echo URL; ?>today"><img src="public/images/history.png" alt="history" style="width:180px;height:270px;border:0"></a>
    </center>
</html>