<html>
    <title>Dashboard page - Team H</title>
    <center><FONT SIZE=4>Current page: Dashboard</FONT><br><br>
        <FONT SIZE=5><b><U>Choose a widget:</U></b><br><br></FONT>



        <a href="<?php echo URL; ?>weather">
            <img src="public/images/weather.jpg" alt="weather" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>calculator">
            <img src="public/images/calculator.png" alt="calculator" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>dashboard">
            <img src="public/images/todolist.png" alt="todolist" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>dashboard">
            <img src="public/images/memo.png" alt="memo" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>dashboard">
            <img src="public/images/gallery.png" alt="gallery" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>dashboard">
            <img src="public/images/clock.png" alt="clock" style="width:150px;height:150px;border:0">
        </a>
        <a href="<?php echo URL; ?>dashboard">
            <img src="public/images/history.jpg" alt="history" style="width:150px;height:150px;border:0">
        </a>

    </center>
</html>