<!--<html>
    <head>
        
    </head>
    <body>
                <script src = "view.js"></script>

        <center>
        <select id="city">
            <option value="ashdod">Ashdod</option>
            <option value="telAviv">Tel-aviv</option>
            <option value="newYork">New-York</option>
        </select>
            <button onClick = "f()"> a </button>
        </center>
    </body>
</html>-->


<html>
<center>
<form action="weather/run/" method="get">
    City: <input type="text" name="city" placeholder="city"/><br />
    <input type="submit" name="submit" value="Submit"/>
</form>
</center>
</html>