<!DOCTYPE html>
<html lang = "en" >
    
    <head>
        <title>Weather widget</title>
<!--                <button onclick = "window.location.href = 'Home.html'">Back to home page!</button>-->
        <script type="text/javascript" src="views/weather/view.js"></script>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/plain" href="public/css/default.css">
        <!--    <p id="maintitle" class="maintitle">DAILY NEWS</p>-->
    </head>

    <body>
    <center>
        <section id ="left">
            <div id="Weather">
                <hr /> 
                <h3>Current Weather</h3>        
                <h2><span id="userCity" ></span></h2>
                <h3><span id="region"></span></h3>
                <h3><span id="country"></span></h3>
                <h3><span id="temperature"></span></h3>
                <h3><span id="feelsLike"></span></h3>
                <span><img id="conditionImage" width="125" height="125"> </span>
                <h3><span id="conditionText"></span></h3>
                <h3><span id="windMph"></span></h3>
                <h3><span id="windKph"></span></h3>
                <h3><span id="windDegree"></span></h3>
                <h3><span id="updatedOn"></span></h3>
            </div>
        </section>
        
    </center>
</body>
</html>