<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Your Memos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="<?php echo URL; ?>public/css/memo.css" />

        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    </head>

    <body>
    <center>
        <script src="memoview.js"></script>

        <input type="button" value="Delete This Memo" onclick ="remove();"/>
        
        <ul id="noteList">
        </ul>
    </center>
</body>

</html>
