<html>
    <title>World Clock page - Team H</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="view.js"></script>
    <body>
    <center>
        <!--create a commbox with all the timezone area that the user can choose -->
        Pick a time zone: <select name="timezone" id = "timezone">
            <option value="1">--choose city--</option>
            <option value="America/Argentina/Buenos_Aires">Buenos Aires</option>
            <option value="Australia/Melbourne">Melbourne</option>
            <option value="Australia/Sydney">Sydney</option>
            <option value="Europe/Vienna">Vienna</option>
            <option value="America/La_Paz">La Paz</option>
            <option value="America/Sao_Paulo">Sao Paulo</option>
            <option value="Europe/Sofia">Sofia</option>
            <option value="America/Toronto">Toronto</option>
            <option value="America/Santiago">Santiago</option>
            <option value="Asia/Shanghai">Shanghai</option>
            <option value="America/Costa_Rica">Costa Rica</option>
            <option value="America/Havana">Havana</option>
            <option value="Europe/Prague">Prague</option>
            <option value="Europe/Copenhagen">Copenhagen</option>
            <option value="Europe/Paris">Paris</option>
            <option value="Europe/Berlin">Berlin</option>
            <option value="America/Guatemala">Guatemala</option>
            <option value="Asia/Hong_Kong">Hong Kong</option>
            <option value="Europe/Budapest">Budapest</option>
            <option value="Asia/Jerusalem">Jerusalem</option>
            <option value="Europe/Rome">Rome</option>
            <option value="Asia/Tokyo">Tokyo</option>
            <option value="Asia/Beirut">Beirut</option>
            <option value="Europe/Luxembourg">Luxembourg</option>
            <option value="America/Cancun">Cancun</option>
            <option value="America/Mexico_City">Mexico City</option>
            <option value="Europe/Monaco">Monaco</option>
            <option value="Africa/Windhoek">Windhoek</option>
            <option value="Europe/Amsterdam">Amsterdam</option>
            <option value="America/Panama">Panama</option>
            <option value="America/Lima">Lima</option>
            <option value="Europe/Lisbon">Lisbon</option>
            <option value="America/Puerto_Rico">Puerto Rico</option>
            <option value="Europe/Bucharest">Bucharest</option>
            <option value="Europe/Moscow">Moscow</option>
            <option value="Europe/San_Marino">San Marino</option>
            <option value="Europe/Belgrade">Belgrade</option>
            <option value="Asia/Singapore">Singapore</option>
            <option value="Africa/Johannesburg">Johannesburg</option>
            <option value="Asia/Seoul">Seoul</option>
            <option value="Europe/Madrid">Madrid</option>
            <option value="Asia/Bangkok">Bangkok</option>
            <option value="Europe/Istanbul">Istanbul</option>
            <option value="Europe/Kiev">Kiev</option>
            <option value="Asia/Dubai">Dubai</option>
            <option value="Europe/London">London</option>
            <option value="America/Chicago">Chicago</option>
            <option value="America/Denver">Denver</option>
            <option value="America/Detroit">Detroit</option>
            <option value="America/Los_Angeles">Los Angeles</option>
            <option value="America/New_York">New York</option>
        </select>
        <!--create the button that the user can tap on it and create connection to the function is triggered after you click the button -->
        <input type="button" value="Find..." onclick="run()"/>
        <p id="space"><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
        <section id ="left" style="display: none; " >
            <div id="WorldClock">
                <hr />
                <h1>Current time in: <span id="userZone" ></span></h1>
                <font size="4" color="black"><b>Country: </b><span id="country"></span></font><br>
                <font size="4" color="black"><b>Zone: </b><span id="zone"></span></font><br>
                <font size="4" color="black"><b>Time & date: </b><span id="time"></span></font><br>
                <br><br><br><br><br><br><br><br>
            </div>
        </section>
    </center>
</body>
</html>