<html>
    <title>To-do List page - Team H</title> <!-- title of the page -->

<!--    TODO view window that shown to the user-->
    <body>
        <link rel="stylesheet" href="<?php echo URL; ?>public/css/todo.css" />  <!-- show the widget page (from CSS) -->

    <center>
        <script src="todoview.js"></script> 
        <div id="myDIV" class="header">
            <h2 style="margin:5px">My To Do List</h2> <!-- title of the widget -->
            <input type="text" id="myInput" placeholder="Add A Task Here"> <!-- text box to enter task -->
            <span onclick='newElement()' class="addBtn">Add</span> <!-- show the add button -->

        </div>

        <ul id="myUL">

        </ul>
        <br><br><br><br><br><br><br><br><br><br><br>
    </center>

</body>
</html>