<html>
    <title>To-do List page - Team H</title>

<!--    TODO view window that shown to the user-->
    <body>
        <link rel="stylesheet" href="<?php echo URL; ?>public/css/todo.css" />

    <center>
        <script src="todoview.js"></script> 
        <div id="myDIV" class="header">
            <h2 style="margin:5px">My To Do List</h2>
            <input type="text" id="myInput" placeholder="Add A Task Here">
            <span onclick='newElement()' class="addBtn">Add</span>

        </div>

        <ul id="myUL">

        </ul>
        <br><br><br><br><br><br><br><br><br><br><br>
    </center>

</body>
</html>